<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Mecanica mcqueen</title>
    <link rel="stylesheet" href="CSS/estilos.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="Shortcut Icon" href="IMG/logo.ico" type="image/x-icon" />
</head>

<body>


    <div class="titulo-seccion">
        <h2>Ultimos trabajos</h2>
        <p>Calidad y excelencia en cada trabajo</p>
    </div>

    <section class="contenedor-slider">
        <div class="slider" id="slider">
            <div class="slide">
                <img src="IMG/carrucel1.jpg" alt="Slide">
            </div>
            <div class="slide">
                <img src="IMG/carrucel2.jpg" alt="Slide">
            </div>
            <div class="slide">
                <img src="IMG/carrucel3.jpg" alt="Slide">
            </div>
            <div class="slide">
                <img src="IMG/carrucel4.jpg" alt="Slide">
            </div>
        </div>
        <div class="btn-anterior" id="btnAnterior">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
        <div class="btn-siguiente" id="btnSiguiente">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </section>

    <script src="JS/jquery.min.js"></script>
    <script src="JS/slider.js"></script>

    <section>
        <header class="header">
            <div class="container">
                <div class="btn-menu">
                    <label for="btn-menu">☰</label>
                </div>
                <div class="logo">
                    <h1>Logotipo</h1>
                </div>
                <nav class="menu">
                    <a href="index.html">Inicio</a>
                    <a href="nosotros.html">Nosotros</a>
                    <a href="servicios.html">Servicios</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>
        <!--	--------------->
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="inicio.html">iniciar sesion</a>
                    <a href="registro.html">Registrarte</a>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
    </section>




</body>

</html>