<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Servicios mcqueen</title>
    <link rel="stylesheet" href="CSS/servicios.css">
    <link rel="Shortcut Icon" href="IMG/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <section>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <h1>Logotipo</h1>
                </div>
                <nav class="menu">
                    <a href="index.html">Inicio</a>
                    <a href="nosotros.html">Nosotros</a>
                    <a href="servicios.html">Servicios</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </header>
        <div class="capa"></div>

        <section class="page-section container-fluid" id="iconos">
            <div class="row align-items-center">
                <div class="" style="width: 10rem;" id="icono1">
                    <img src="IMG/freno.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <button type="button" id="btn-centrar" class="btn btn-outline-light"><a id="a" href="contacto.html">Frenos</a></button>
                    </div>
                </div>
                <div class="" style="width: 10rem;" id="icono1">
                    <img src="IMG/rueda.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <button type="button" id="btn-centrar" class="btn btn-outline-light"><a id="a" href="contacto.html">Rueda</a></button>
                    </div>
                </div>
                <div class="" style="width: 10rem;" id="icono1">
                    <img src="IMG/llave.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <button type="button" id="btn-centrar" class="btn btn-outline-light"><a id="a" href="contacto.html">Llaves</a></button>
                    </div>
                </div>
                <div class="" style="width: 10rem;" id="icono1">
                    <img src="IMG/kilometraje.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <button type="button" id="btn-centrar-k" class="btn btn-outline-light"><a id="a" href="contacto.html">Kilometro</a></button>
                    </div>
                </div>
                <div class="" style="width: 10rem;" id="icono1">
                    <img src="IMG/escaner.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <button type="button" id="btn-centrar" class="btn btn-outline-light"><a id="a" href="contacto.html">Escaner</a></button>
                    </div>
                </div>
                <div class="" style="width: 10rem;" id="icono1">
                    <img src="IMG/bateria.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <button type="button" id="btn-centrar" class="btn btn-outline-light"><a id="a" href="contacto.html">Bateria</a></button>
                    </div>
                </div>
                <div class="" style="width: 10rem;" id="icono1">
                    <img src="IMG/aceite.png" class="card-img-top " alt="...">
                    <div class="card-body">
                        <button type="button" id="btn-centrar" class="btn btn-outline-light"><a id="a" href="contacto.html">Aceite</a></button>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>